node_modules/
dist/
.env
env
setup.sh
venv
.env
*.log
*.pyc
__pycache__/
.idea/
.vscode/
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.zip
*.tar.gz
*.egg-info/
llama.cpp/
Llama-3.2-1B-Instruct/
config-model.md
